@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Press+Start+2P&display=swap');

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, button, select {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
  }
  h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
  }

  @media (max-width: 991.98px) {
    h1 {
      font-size: 2rem;
    }
}