@import '../styles/main.scss';

.back-btn-wrapper {
    position: sticky;
    top: 0;
    background-color: $dark-purple;
    padding: 15px;
    margin-bottom: 20px;
    z-index: 3;
    .back-btn {
        display: block;
        width: 86px;
        height: 39px;
        &:before {
            content: '';
            width: 83px;
            height: 39px;
            display: block;
            background-image: url("../img/ic-back-btn-green.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: background-size 0.3s ease, width 0.3s ease;
        }

        &:hover {
            &:before {
                width: 86px;
                height: 39px;
                background-size: 100% 100%;
                transition: background-size 0.3s ease, width 0.3s ease;
            }
        }
    }



}