@import '../styles/main.scss';

.card-game {
    &.card {
        border-radius: 0;
        border: 10px solid $green;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 25px;
        height: 400px;
        background-color: $purple;
        box-shadow: 0 20px 0px -10px $pink;
        transition: border 0.2s ease-in-out;

        &:hover {
            border: 13px solid $green;
            transition: border 0.3s ease-in-out;
            
            h2 {
                color: $green;
                text-shadow: 0 3px white;
                transition: all 0.3s ease-in-out;
            }
        }

        @include media-breakpoint-down(sm) {
            height: 390px;
        }

        @include media-breakpoint-down(xs) {
            height: 360px;
        }
    }

    .card-img-overlay {
        padding: 1rem;
    }

    h2 {
        text-align: center;
        margin-top: 5px;
        text-shadow: 0 4px $green;
        line-height: 2.5rem;

        @include media-breakpoint-only(lg) {
            font-size: 1.6rem;
            line-height: 2.2rem;
            text-shadow: 0 3px $green;
        }

        @include media-breakpoint-down(sm) {
            font-size: 1.4rem;
            line-height: 1.9rem;
            text-shadow: 0 3px $green;
            margin-bottom: 5px;
        }
    }

    .category {
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    label.form-label,
    label {
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0 5px 0;
        display: block;

        @include media-breakpoint-down(sm) {
            width: 100%;
            display: block;
            margin: 20px 0 5px 0;
        }
    }

    select.form-control,
    select {
        width: 228px;
        height: 50px;
        color: $green;
        background-color: white;
        border: 5px solid $green;
        border-radius: 0;
        display: inline-block;
        padding: 2px 20px 2px 15px;
        margin: 0;
        box-sizing: border-box;
        appearance: none;
        background-image: url("../img/arrow-down-green.svg");
        background-position: 94%;
        background-size: 14px;
        background-repeat: no-repeat;

        &:focus {
            outline: -webkit-focus-ring-color auto 0;
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
            width: 100%;
            display: block;
        }
    }

    .arcade-btn {
        @include arcade-btn(100px, $dark-purple);
    }
}