@import '../styles/main.scss';

footer {
    background-color: $green;
    padding: 40px 0;
    color: $dark-purple;

    .logo {
        width: 100%;
        padding: 0 40px 20px 0;
        @include media-breakpoint-down(sm) {
            width: 190px;
            padding: 0 0 20px 0;
        }
    }
    a {
        color: $purple;

        &:hover {
            color: $dark-purple;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            &:first-child{
                font-family: $font-primary;
                line-height: 23px;
            }
            &:last-child{
                p {
                    margin: 0;
                }
            }
        }
    }
    .ic-heart {
        width: 30px;
        height: 15px;
        display: inline-block;
        &:before {
            content: '';
            width: 23px;
            height: 15px;
            display: inline-block;
            background-image: url("../img/IC-HEART.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }

    .ic-home {
        width: 30px;
        height: 15px;display: inline-block;

        &:before {
            content: '';
            width: 23px;
            height: 15px;
            display: inline-block;
            background-image: url("../img/IC-HOME.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}