@import '../styles/main.scss';

.game-result {
  .message {
    text-align: center;
    margin: 30px 0 40px 0;

    h4 {
      font-size: 1.6rem;
      line-height: 2rem;

      span {
        color: $green;
        font-weight: 900;
      }
    }

    p {
      margin-top: 10px;
      font-size: 1.1rem;
      ;
    }
  }

  .logo {
    width: 200px;
    margin: 40px 0 30px 0;
  }

  .final-results {
    .question-answers {
      ul li button {
        pointer-events: none;

        &.correct-answer {
          background-color: $pink;
          transition: all 0.8s ease;
          transform: scale(1.05);
          box-shadow: 0 20px 0px -10px $dark-purple, 0 0 0 4px $purple inset;
        }
      }
    }

  }
}