@import '../styles/main.scss';
.board-background {
    height: 100%;
    background-color: $purple;
}

ul.board-results {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $green;
    margin-bottom: 20px;
    color: $dark-purple;
    background-color: $green;
    box-shadow: 0 20px 0px -10px $pink;
    border: 10px solid $green;

    li {
        font-family: $font-primary;
        font-size: 1.3rem;
        line-height: 1.9rem;
        text-transform: uppercase;
        padding: 15px 15px 11px 15px;
    }
}