@import '../styles/main.scss';

.question-answers {
    padding: 30px 20px 15px 20px;
    background-color: $green;
    margin: 0 auto;
    border: 10px solid $green;
    box-shadow: 0 20px 0px -10px $pink;

    @include media-breakpoint-down(sm) {
        padding: 30px 20px 5px 20px;
    }

    .question {
        font-size: 1.6rem;
        color: $dark-purple;
        text-align: center;
        margin-bottom: 25px;
        line-height: 2rem;

        @include media-breakpoint-down(sm) {
            font-size: 1.4rem;
            line-height: 1.9rem;
        }
    }

    ul {
        li {
            width: 96%;
            margin: 25px auto;

            &:focus {
                outline: -webkit-focus-ring-color auto 0;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            button {
                width: 100%;
                background-color: $purple;
                color: $dark-purple;
                padding: 10px 15px;
                box-shadow: 0 20px 0px -10px $dark-purple;
                text-align: left;
                border: 0;
                transition: transform 0.5s ease;

                &:focus {
                    outline: 0 auto -webkit-focus-ring-color;

                    @include media-breakpoint-down(sm) {
                        outline: 4px solid $pink;
                    }
                }

                &:hover,
                &:active {
                    background-color: $pink;
                    transition: all 0.8s ease;
                    transform: scale(1.1);
                    box-shadow: 0 20px 0px -10px $dark-purple, 0 0 0 4px $purple inset;

                    @include media-breakpoint-down(sm) {
                        background-color: $purple;
                        transition: none;
                        transform: none;
                        box-shadow: 0 20px 0px -10px $dark-purple, 0 0 0 4px $purple inset;
                    }
                }
            }
        }
    }
}